<div class="container text-center pb-2">
    <img src="assets\body2.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">
    <form class="form-inline my-2 my-lg-0">


    </form>
    <div class="row pb-sm-0 my-5 ">

        <div class="col-lg-8 col-md-10 mx-auto ">
            <p class="lead text-center " style="opacity: 3; font-size: 30px ">
                <b>Lista de Registros</b>
            </p>
            <table class="table table-bordered table-light">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" *ngFor='let cabecera of listacabecera'>{{cabecera}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let bitacora of bitacoras'>
                        <th scope="row">{{bitacora.cedula}}</th>
                        <th scope="row">{{bitacora.fechaBitacora}}</th>
                        <th scope="row">{{bitacora.nombreEquipo}}</th>
                        <th scope="row">{{bitacora.idLaboratorio}}</th>
                        <th scope="row">{{bitacora.descripcionBitacora}}</th>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>