<div class="container text-center pb-5">
    <img src="assets\body2.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">
    <div class="row pb-sm-0 my-5">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p class="lead text-center " style="opacity: 3; font-size: 30px">
                <b>REGISTRO DE USO DEL LABORATORIO</b>
            </p>
            <form>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="text" class="form-control mb-2" name="cedula" id="cedula" placeholder="Ingrese su cedula de identidad" [(ngModel)]="cedula">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-info" (click)="Buscar()">Buscar</button>
                    </div>
                    <div class="col-auto">
                    </div>
                    <div class="col-auto">
                        <b>
                            <label> Fecha:</label>
                        </b>
                    </div>
                    <div class="col-auto">
                        <input type="date" class="form-control mb-2" id="inlineFormInput" value={{fecha}}>
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="text" class="form-control mb-3" readonly=»readonly» placeholder="Nombre" value={{nombre}}>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control  mb-3" readonly=»readonly» placeholder="Apellido" value={{apellido}}>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control  mb-3" readonly=»readonly» placeholder="Carrera" value={{nombrecarrera}}>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="col-auto">
                            <b>
                                <label>Nivel:</label>
                            </b>
                            <select formControlName="pais" name="pais" id="pais" class="form-control">
                                
                                <option  *ngFor="let niveles of nivel"   >
                                    {{niveles.nivel_nombre}}
                                </option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-auto">
                            <b>
                                <label>Asignatura:</label>
                            </b>
                            <select formControlName="pais" name="pais" id="pais" class="form-control">
                                <option *ngFor="let asignaturas of asignatura">
                                    {{asignaturas.nombre_asignatura}}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
                <div>
                    <br>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="col-auto">
                            <b>
                                <label>Numero laboratorio:</label>
                            </b>
                            <select formControlName="pais" name="pais" id="pais" class="form-control">
                                
                                <option   >
                                    
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-auto">
                            <b>
                                <label>Numero de equipo:</label>
                            </b>
                            <select formControlName="pais" name="pais" id="pais" class="form-control">
                                <option >
                                    
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
                <div>
                    <br>
                </div>


                <div>
                    <div class="card">
                        <h5 class="card-header">Observaciones</h5>
                        <div class="card-body">

                            <textarea class="form-control" aria-label="With textarea"></textarea>

                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <button type="submit" class="btn btn-primary" (click)="BuscarLaboratorio()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>