<div class="container text-center pb-5">
    <img src="assets\body2.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">
    <div class="row pb-sm-0 my-5">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p class="lead text-center " style="opacity: 3; font-size: 30px">
                <b>REGISTRO DE USO DEL LABORATORIO</b>
            </p>
            <form>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Ingrese su cedula de identidad">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-info">Buscar</button>
                    </div>
                    <div class="col-auto">
                    </div>
                    <div class="col-auto">
                        <b>
                            <label> Fecha:</label>
                        </b>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control mb-2" id="inlineFormInput">
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="text" class="form-control mb-3" placeholder="Nombre">
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control  mb-3" placeholder="Apellido">
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control  mb-3" placeholder="Carrera">
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <b>
                            <label>Asignatura:</label>
                        </b>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Asignaturas
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <b>
                            <label>Numero de equipo</label>
                        </b>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control mb-4">
                    </div>
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <b>
                            <label>Numero de laboratorio</label>
                        </b>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control mb-4">
                    </div>
                </div>
                <div>
                    <div class="card">
                        <h5 class="card-header">Observaciones</h5>
                        <div class="card-body">

                            <textarea class="form-control" aria-label="With textarea"></textarea>

                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>