<div class="col mb-16">
    <div class="card animated fadeIn fast" *ngFor='let laboratorio of listalaboratorios' style="width: 18rem;">
        <img src="assets/laboratorio.jpg" alt="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{laboratorio.nombre_laboratorio}}</h5>
            <p class="card-text">Edificio: {{laboratorio.edificio}}</p>
            <button type="button" (Click)="VerEquipos(laboratorio.id)" class="btn btn-outline-info btn-block"> Ver más</button>
        </div>
    </div>
</div>
<div class="row pb-sm-0 my-5 ">
    <div class="col-lg-8 col-md-10 mx-auto ">
        <p class="lead text-center " style="opacity: 3; font-size: 30px ">
            <b>Lista de equipos</b>
        </p>
        <table class="table table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" *ngFor='let header of cabecera'>{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let equipo of listaequipos'>
                    <th scope="row">{{equipo.nombre_equipo}}</th>
                    <th scope="row">{{equipo.codigo_equipo}}</th>
                </tr>
            </tbody>
        </table>
    </div>